<!-- <div>
  <p>note works!</p>
  <p style="color: bisque">
    this component is created by me.here inline style is used
  </p>
  <h1>hello Angular note component</h1>
  <h2>using the component style here that is called as external style</h2>
  <div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Views</th>
          <th>Like</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.views }}</td>
          <td>{{ item.like }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="views">
    <th mat-header-cell *matHeaderCellDef> Views </th>
    <td mat-cell *matCellDef="let element"> {{element.views}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="like">
    <th mat-header-cell *matHeaderCellDef> Like </th>
    <td mat-cell *matCellDef="let element"> {{element.like}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



